*{
    margin: 2%;
    padding: 3px;
}

header{
    background-color: blueviolet;
}
main{
    background-color: gray;
    height: 65vh;
}
footer{
    background-color: gray;
    height: 25vh; 
}